 
{{> nav }} 
{{> noteModal }}

<div class="container mt-5">
    <div class="container">
      {{#each articles}}
            {{#unless saved}}
                <div class="alert alert-secondary" id="navbar-shadow">
                    <div class="row ml-1 my-1 divider "><h3>{{this.title}}</h3></div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-3 mr-3"><img class="imageSize" src="{{this.image}}"></div>
                        <div class="col-12 col-md-8">
                            <div class="row"><p>{{this.summary}}</p></div>
                            <div class="row">
                                    <button data-id={{_id}} type="submit" class="btn btn-outline-dark mr-4 my-2 saveArticleBtn">
                                                <i class="far fa-save fa-lg saveArticleBtn"></i>  Save Article
                                    </button>
                                <button data-toggle="modal" data-target="#myModal" data-id={{_id}} type="submit" class="btn btn-outline-dark mr-4 my-2 addNoteBtn">
                                        <i class="far fa-sticky-note fa-lg"></i> Notes
                                </button>
                                <button type="submit" class="btn btn-outline-dark mr-4 my-2">
                                        <a class="nav-link" href={{this.link}} target="_blank">
                                            <span class="navItem"><i class="far fa-newspaper fa-lg"></i>  View Details</span> 
                                        </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/unless}}
      {{/each}}
    </div>
</div>
